.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-outline-primary {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}

.btn:active {
  background-image: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}