$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.5);
$text-disabled: rgba(0, 0, 0, 0.3);
$text-divider: rgba(0, 0, 0, 0.12);

$font-family: "Andale Mono", "Lucida Console", Monaco, monospace;

