
.favs-container a {
  color: $text-primary;
  text-decoration: none;

  img {
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.1s ease-out;
  }

  small {
    display: block;
    color: $text-secondary;
  }
}