.favs-container {
  margin-bottom: 30px;
}

.favs-container a {
  color: $text-primary;
  text-decoration: none;

  img {
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
    vertical-align: bottom;
  }

  p {
    margin-bottom: 0.5rem;
  }

  small {
    display: block;
    color: $text-secondary;
  }

  &:hover,
  &:focus {
    img {
      filter: brightness(50%);
    }

    p {
      text-decoration: underline;
    }
  }
}
