.nav-cont {
  background: #f6f6ef;
  margin: -16px;
  padding: 16px;
}

@media only screen and (min-width: 62em) {
  .nav-sidebar {
    background: #f6f6ef;
    position: fixed;
    max-width: 250px;
    padding: 7%;
    height: 100%;
    top: -16px;
    left: -16px;
  }

  .nav {
    padding-top: 32px;
  }

  .nav div div {
    border-top: 1px solid $text-divider;
    padding: 1em 0 3em;
  }
}

@media only screen and (max-height: 500px) and (min-width: 62em)  {
  .nav-sidebar {
    position: absolute;
    padding-bottom: 0;
    height: auto;
    bottom: -16px;
  }
}

