<div class="comment-container">
  <div class="comment-text">
  <span class="comment-heading">
    <span class="title">
    <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
      On {{ comment.dateCreated | date('M jS, Y') }},
    </time>

    <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        User said:
      </span>
    </span>
    </span>
  </span>

        <div class="comment-content" itemprop="commentText">
            <p>[Comment deleted]</p>
        </div>

        <div class="meta-buttons">
            {% if settings.allowVoting %}
                <div class="comment-votes">
                    <span class="count">{{ comment.voteCount }} votes</span>

                    {% if comment.canUpVote %}
                        <a href="{{ comment.upvoteActionUrl }}" class="comment-vote-up">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    {% endif %}

                    {% if comment.canDownVote %}
                        <a href="{{ comment.downvoteActionUrl }}" class="comment-vote-down">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            <a href="#" class="comment-toggle">
                <span class="glyphicon glyphicon-comment"></span>
                {{ comment.descendants | length }} comments
            </a>
        </div>
    </div>
</div>

