<div class="comment-container">
  <div class="comment-text">
    <span class="comment-heading">
      <span class="title">
        <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
          On {{ comment.dateCreated | date('M jS, Y') }},
        </time>

        <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ comment.author.fullName ? comment.author.fullName : comment.author }} said:
          </span>
        </span>
      </span>
    </span>

    <div class="comment-content" itemprop="commentText">
      {% if comment.isFlagged %}
        <p>[Comment marked as inappropriate]</p>
      {% elseif comment.isPoorlyRated %}
        <p>[Comment hidden due to low rating]</p>
      {% else %}
        <p>{{ comment.comment | nl2br }}</p>
      {% endif %}
    </div>

    {# Inline edit form (initially hidden) - only available on approved comment #}
    {% if not comment.isFlagged and not comment.isPoorlyRated %}
      {% include '_comments/form-edit' %}
    {% endif %}

    <div class="meta-buttons">
      {% if not comment.isClosed %}
        <a href="#" class="comment-reply" itemprop="replyToUrl">
        </span>Reply</a>
      {% endif %}

      {% if currentUser %}
        {% if comment.canEdit() %}
          <a href="#" class="comment-edit">
            <span class="glyphicon glyphicon-edit"></span>Edit
          </a>
        {% endif %}

        {% if comment.canTrash() %}
          <a href="{{ comment.trashActionUrl }}" class="comment-delete">
            <span class="glyphicon glyphicon-remove"></span>Delete
          </a>
        {% endif %}
      {% endif %}

    </div>
  </div>
</div>
