<div class="comment-container">
  <div class="comment-text">
  <span class="comment-heading">
    <span class="title">
    <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
      On {{ comment.dateCreated | date('M jS, Y') }},
    </time>

    <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        {{ comment.author }} said:
      </span>
    </span>
    </span>
  </span>

  <div class="comment-content" itemprop="commentText">
    <p>[Comment awaiting moderation]</p>
  </div>
</div>


