{% extends "_layouts/base" %}

{% block body %}

  {% include "_includes/nav" %}
  
  <main aria-label="Content" class="cont">
    <div class="row page-main">
      <div class="col-xs-12">
        <div class="page-content">
          {% block main %}{% endblock %}
        </div>
      </div>
    </div>
  </main>

<footer class="cont">
  <div class="row page-main">
    <div class="col-xs-12">
      <div class="page-content">
        {% include "_includes/footer" %}
      </div>
    </div>
  </div> 
</footer>

{% endblock %}
