{% extends "_layouts/site" %}

{% block main %}

  {% set allEntries = craft.entries.section('blog').find() %}
  {% set allEntriesByYear = allEntries|group('postDate.year') %}

  {% for year, entriesInYear in allEntriesByYear%}
    <ol class="pa0 ma0">
      <li class="yearly-archive year-2017 group">
        {% switch year %}
          {% case "2016" %}
            <h2>Twenty-sixteen</h2>
          {% case "2017" %}
            <h2>Twenty-seventeen</h2>
          {% case "2018" %}
            <h2>Twenty-eighteen</h2>
          {% case "2019" %}
            <h2>Twenty-nineteen</h2>
          {% case "2020" %}
            <h2>Twenty-twenty</h2>
          {% case "2021" %}
            <h2>Twenty-twenty-one</h2>
          {% default %}
            <h2>{{ year }}</h2>
          {% endswitch %}
        {% for entry in entriesInYear %}
          <p>
            <a href="{{ entry.url }}">{{ entry.title | typogrify }}</a>
            <span class="small">{{entry.postDate|date('d F Y')}}</span>
          </p>

          {#{% set comments = craft.comments.all({
              limit: 4,
              elementId: entry.id
          }) %}

          <ul>
            {% for comment in comments %}
                <li><p>{{ comment.comment }}</p></li>
            {% endfor %}
          </ul>#}
          
        {% endfor %}
      </li>
    </ol>
  {% endfor %}

{% endblock %}